#profile-description {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
  
    small {
        color: #34D399;
        font-weight: 500;
        text-transform: uppercase;
    }

    h4 {
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 100%;
        opacity: .5;
        color: #F3F4F6;
    }

    img {
        margin-block: 1rem;
        border-radius: 5px;
        box-shadow: 4px 4px 0px 4px rgb(52, 211, 153, .2);
    }

    p {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
        opacity: .8;
        
        li {
          font-size: .875rem;
          padding-left: .5rem;
          line-height: 100%;
          border-left: 4px solid #34D399;
        }
      }

}